{:vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      [:qudt]
          :init-ns      net.wikipunk.temple.init
          :ns-prefix    "net.wikipunk.rdf."
          :boot         [net.wikipunk.qudt.boot/punk.qudt
                         net.wikipunk.qudt.boot/constant
                         net.wikipunk.qudt.boot/datatype
                         net.wikipunk.qudt.boot/dimensionvector
                         net.wikipunk.qudt.boot/discipline
                         net.wikipunk.qudt.boot/math
                         net.wikipunk.qudt.boot/qkdv
                         net.wikipunk.qudt.boot/quantitykind
                         net.wikipunk.qudt.boot/qudt
                         net.wikipunk.qudt.boot/soqk
                         net.wikipunk.qudt.boot/sou
                         net.wikipunk.qudt.boot/qudt.type
                         net.wikipunk.qudt.boot/unit]
          :config       {:xtdb.lucene/lucene-store
                         {:db-dir ".vocab/lucene"}}}
 :openai {:sc/create-fn net.wikipunk.openai/map->Client}
 :qudt   {:sc/create-fn net.wikipunk.qudt/map->QUDT}}
